{% extends "base.html" %}

{% block meta %}
    {% if article.keywords %}
        <meta name="keywords" contents="{{article.keywords}}" />
    {% endif %}
    {% for description in article.description %}
        <meta name="description" contents="{{description}}" />
    {% endfor %}
    {% for tag in article.tags %}
        <meta name="tags" contents="{{tag}}" />
    {% endfor %}
    {% if article.author %}
        <meta name="author" content="{{ article.author }}"/>
    {% endif %}
{% endblock %}

{% block title %}
{{ article.title }} | {{ SITENAME }}
{% endblock %}

{% block content %}
    <a href="{{SITEURL}}/{{category}}">{{category|capitalize}}</a> >
    </br>

    {% if category == "people" %}
        <div class="row">
            <div class="col-xs-5 col-sm-3 col-md-2">
                <img class="img-circle picture"
                src="{{SITEURL}}/images/pic/{{article.picture}}"></img>
            </div>
            <div class="col-xs-7 col-sm-9 col-md-10">
                <h1>{{ article.title }}</h1>
                <h2>{{ article.position|capitalize }}</h2>
            </div>
        </div>
    {% else %}
        <h1>{{ article.title }}</h1>
        <p class="paper-date-author">
        {% if article.author %}
            by {{ article.author }}
        {% endif %}
        {% if article.date %}
            ({{ article.date|strftime('%Y') }})
        {% endif %}
        </p>
    {% endif %}

    <div class="row">

    <div class="col-md-4">

    {% if article.tags and "review" in article.tags %}
    <div class="alert alert-warning">
        <strong>
        This article is unpublished and is currently undergoing peer-review.
        </strong>
    </div>
    {% endif %}

    {% if article.thumbnail %}
    <img class="paper-thumbnail" src="{{SITEURL}}/{{article.thumbnail}}"></img>
    {% endif %}

    <h2>Info</h2>
    <ul class="list-group">
        {% if article.tags and "OA" in article.tags %}
        <li class="list-group-item active">
        <i class="fa fa-unlock-alt fa-fw"></i>
        Open-Access
        </li>
        {% endif %}

        {% if article.type %}
            <li class="list-group-item">
            <i class="fa fa-info-circle fa-fw"></i>
            Type:
            {{article.type|capitalize}}
            {% if article.type == "oral" %}
                <i class="fa fa-comments-o fa-fw"></i>
            {% endif %}
            {% if article.type == "poster" %}
                <i class="fa fa-picture-o fa-fw"></i>
            {% endif %}
            {% if article.tags and "notme" in article.tags %}
                <b>(not presented by me)</b>
            {% endif %}
            </li>
        {% endif %}

        {% if article.slides %}
        <li class="list-group-item">
        <i class="fa fa-desktop fa-fw"></i>
        Slides:
        <a href="http://dx.doi.org/{{article.slides}}">{{article.slides}}</a>
        </li>
        {% endif %}

        {% if article.poster %}
        <li class="list-group-item">
        <i class="fa fa-picture-o fa-fw"></i>
        Poster: <a href="http://dx.doi.org/{{article.poster}}">{{article.poster}}</a>
        </li>
        {% endif %}

        {% if article.repository %}
        <li class="list-group-item">
        <i class="fa fa-github-square fa-fw"></i>
        Repository:
        <a href="https://github.com/{{article.repository}}">{{article.repository}}</a>
        </li>
        {% endif %}

        {% if article.event %}
        <li class="list-group-item">
        <i class="fa fa-users fa-fw"></i>
        {{article.event}}
        </li>
        {% endif %}

        {% if article.institution %}
        <li class="list-group-item">
        <i class="fa fa-university fa-fw"></i>
        {{article.institution}}
        </li>
        {% endif %}

        {% if article.location %}
        <li class="list-group-item">
        <i class="fa fa-map-marker fa-fw"></i>
        {{article.location}}
        </li>
        {% endif %}

        {% if article.advisor %}
        <li class="list-group-item">
        <i class="fa fa-graduation-cap fa-fw"></i>
        Advisor:
        {{article.advisor}}
        </li>
        {% endif %}

        {% if article.period %}
        <li class="list-group-item">
        <i class="fa fa-calendar fa-fw"></i>
        {{article.period}}
        </li>
        {% endif %}

        {% if article.journal %}
        <li class="list-group-item">
        <i class="fa fa-book fa-fw"></i>
        Journal: {{article.journal}}
        </li>
        {% endif %}

        {% if article.doi %}
        <li class="list-group-item">
        <i class="fa fa-external-link fa-fw"></i>
        DOI: <a href="http://dx.doi.org/{{article.doi}}">{{article.doi}}</a>
        </li>
        {% endif %}

        {% if article.supplement %}
        <li class="list-group-item">
        <i class="fa fa-paperclip fa-fw"></i>
        Supplement:
        <a href="http://dx.doi.org/{{article.supplement}}">{{article.supplement}}</a>
        </li>
        {% endif %}

        {% if article.pdf %}
        <li class="list-group-item">
        <i class="fa fa-file-pdf-o fa-fw"></i>
        PDF: <a href="{{SITEURL}}/pdf/{{article.pdf}}">{{article.pdf}}</a>
        </li>
        {% endif %}

        {% if article.researcherid %}
        <li class="list-group-item">
        <i class="fa fa-barcode fa-fw"></i>
        ResearcherID:
        <a href="http://www.researcherid.com/rid/{{article.researcherid}}">{{article.researcherid}}</a>
        </li>
        {% endif %}

        {% if article.orcid %}
        <li class="list-group-item">
        <i class="ai ai-orcid fa-fw"></i>
        ORCID:
        <a href="http://orcid.org/{{article.orcid}}">{{article.orcid}}</a>
        </li>
        {% endif %}

        {% if article.lattes %}
        <li class="list-group-item">
        <i class="fa fa-file-text fa-fw"></i>
        Lattes:
        <a href="{{article.lattes}}">{{article.lattes}}</a>
        </li>
        {% endif %}

        {% if article.researchgate %}
        <li class="list-group-item">
        <i class="ai ai-researchgate-square fa-fw"></i>
        Research Gate:
        <a href="{{article.researchgate}}">{{article.title}}</a>
        </li>
        {% endif %}

        {% if article.scholar %}
        <li class="list-group-item">
        <i class="ai ai-google-scholar fa-fw"></i>
        Google Scholar:
        <a href="{{article.scholar}}">{{article.title}}</a>
        </li>
        {% endif %}

        {% if article.impactstory %}
        <li class="list-group-item">
        <i class="ai ai-impactstory fa-fw"></i>
        ImpactStory:
        <a href="https://impactstory.org/{{article.impactstory}}">{{article.impactstory}}</a>
        </li>
        {% endif %}

        {% if article.github %}
        <li class="list-group-item">
        <i class="fa fa-github-square fa-fw"></i>
        Github:
        <a href="http://github.com/{{article.github}}">{{article.github}}</a>
        </li>
        {% endif %}

        {% if article.email %}
        <li class="list-group-item">
        <i class="fa fa-envelope fa-fw"></i>
        <a href="mailto:{{article.email}}">{{article.email}}</a>
        </li>
        {% endif %}

        {% if article.website %}
        <li class="list-group-item">
        <i class="fa fa-home fa-fw"></i>
        <a href="{{article.website}}">{{article.website}}</a>
        </li>
        {% endif %}

    </ul>

    {% if article.citation %}
    <h2>Citation</h2>
    <p>{{article.citation}}</p>
    {% endif %}

    </div>

    <div class="col-md-8">

    {{ article.content|replace("<html>","")|replace("<body>","")|replace("</html>","")|replace("</body>","") }}

    </div>
    </div><!-- row -->


{% endblock %}
