{% extends "index.html" %}

{% block title %}
{{ category|capitalize }} | {{ SITENAME }}
{% endblock %}

{% block content %}
<h1>{{ category|capitalize }}</h1>

{% if category == "people" %}

{% macro render_person(person) -%}
    <div class="people-box">
        {% if person.picture %}
            <img class="img-circle"
                src="{{SITEURL}}/images/pic/{{person.picture}}"></img>
        {% else %}
            <img class="img-circle picture"
            src="{{SITEURL}}/images/pic/misc.png"></img>
        {% endif %}
        <a href="{{SITEURL}}/{{person.url}}"><h3>
        {{person.title}}
        </h3></a>
        <p>{{person.position}}</p>
    </div>
{%- endmacro %}

{% for row in articles|rejectattr("former")|reverse|batch(3) %}
    <div class="row">
    {% for person in row %}
        <div class="col-sm-4 col-md-4">
            {{ render_person(person) }}
        </div>
    {% endfor %}
    </div>
{% endfor %}
<h2>Former members</h2>
{% for row in articles|selectattr("former")|batch(3) %}
    <div class="row">
    {% for person in row %}
        <div class="col-sm-4 col-md-4">
            {{ render_person(person) }}
        </div>
    {% endfor %}
    </div>
{% endfor %}
</ul>

{% else %}

{% for row in articles|batch(2) %}
    <div class="row">
    {% for article in row %}
        <div class="col-md-6">
        <div class="well article-box">

        <a href="{{SITEURL}}/{{article.url}}"><h3>
        {% if "OA" in article.tags %}
            <i class="fa fa-unlock-alt" title="Open-Access"></i>
        {% endif %}
        {% if article.type %}
            {% if article.type == "oral" %}
                <i class="fa fa-comments-o"></i>
            {% endif %}
            {% if article.type == "poster" %}
                <i class="fa fa-picture-o"></i>
            {% endif %}
        {% endif %}
        {{article.title}}
        </h3></a>

        <p>
        {% if article.date %}
            ({{article.date|strftime('%Y')}})
        {% endif %}
        {% if article.author %}
            {{article.author}}.
        {% endif %}
        {% if article.journal %}
            {{article.journal}}.
        {% endif %}
        {% if article.event %}
            {{article.event}}.
        {% endif %}
        {% if article.institution %}
            {{article.institution}}.
        {% endif %}
        {% if "review" in article.tags %}
            <span class="label label-warning">In review</span>
        {% endif %}
        {% if article.type %}
            {% if article.type != "oral" and article.type != "poster" %}
                <span class="label label-primary">{{article.type}}</span>
            {% endif %}
        {% endif %}
        </p>

        </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

