{% extends "base.html" %}

{% block body %}

<div class="container">

<div class="row banner-area">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <img src="{{ site.banner }}"></img>
        <div class="alert site-description">
            {{ site.description }}
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">

    <div class="col-md-7">
        {{ this.body }}
    </div>

    <div class="col-md-5">
        <h2>News</h2>

        {% if not site.reflinks["/news"].content %}
            No recent news.
        {% else %}
            <ul class="fa-ul">
            {% for article in site.reflinks["/news"].content[0:5] %}
                <li><i class="fa-li fa fa-comment-o fa-fw"></i>
                    {{ article.date }}:
                    <a href="{{ article.url }}">{{ article.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        <h2>Latest papers</h2>

        <ul class="fa-ul latest-papers">
        {% for article in site.reflinks["/papers"].content[0:5] %}
            <li><i class="fa-li fa fa-file-text-o fa-fw"></i>
                <a href="{{ article.url }}">{{ article.title }}</a>
                ({{ article.date.year }})
            </li>
        {% endfor %}
        </ul>
    </div>

</div>

</div>

{% endblock %}
