{% extends "base.html" %}

{% block body %}

<div class="container">

<div class="row banner-area">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <img src="{{ site.banner }}"></img>
        <div class="alert site-description">
            {{ site.description }}
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Latest papers</h2>
        <ul class="fa-ul latest-papers">
        {% for article in site.reflinks["/papers"].content[0:5] %}
            <li><i class="fa-li fa fa-file-text-o fa-fw"></i>
                <a href="{{ article.url }}">{{ article.title }}</a>
                ({{ article.date.year }})
                {% if article.inreview is defined and article.inreview %}
                    <span class="label label-warning">under review</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Latest theses</h2>
        <ul class="fa-ul latest-papers">
        {% for thesis in site.reflinks["/thesis"].content[0:5] %}
            <li><i class="fa-li fa fa-book fa-fw"></i>
                <a href="{{ thesis.url }}">{{ thesis.title }}</a>
                ({{ thesis.date.year }})
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

</div>

{% endblock %}
