{% extends "publication.html" %}
{% from "utils.html" import fa, ai %}

{% block content_title %}
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
            {% if this.picture is defined %}
                <img class="img-circle picture" src="/images/pic/{{this.picture}}"></img>
            {% else %}
                <img class="img-circle picture" src="/images/pic/misc.png"></img>
            {% endif %}
        </div>
        <div class="col-xs-8 col-sm-9 col-md-10">
            <h1>{{ this.title }}</h1>
            <h2><em>{{ this.position }}</em></h2>
        </div>
    </div>
    <hr>
{% endblock %}

{% block left %}
    {% if this.period is defined %}
        <li class="list-group-item">
            <i class="fa fa-calendar fa-fw"></i> {{this.period}}
        </li>
    {% endif %}

    <li class="list-group-item">
        <i class="fa fa-university fa-fw"></i> {{this.institution}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-map-marker fa-fw"></i> {{this.location}}
    </li>

    {% if this.advisor is defined %}
        {% set advisor = site.reflinks["/people"].content|selectattr("title", "equalto", this.advisor)|first %}
        <li class="list-group-item">
            <i class="fa fa-graduation-cap fa-fw"></i> Advisor:
            <a href="{{ advisor.url }}">{{ this.advisor }}</a>
        </li>
    {% endif %}

    {% if this.researcherid is defined %}
        <li class="list-group-item">
            <i class="fa fa-barcode fa-fw"></i>
            ResearcherID: <a href="http://www.researcherid.com/rid/{{this.researcherid}}">{{this.researcherid}}</a>
        </li>
    {% endif %}

    {% if this.orcid is defined %}
        <li class="list-group-item">
            <i class="ai ai-orcid fa-fw"></i>
            ORCID: <a href="http://orcid.org/{{this.orcid}}">{{this.orcid}}</a>
        </li>
    {% endif %}

    {% if this.impactstory is defined %}
        <li class="list-group-item">
            <i class="ai ai-impactstory fa-fw"></i>
            <a href="https://impactstory.org/u/{{this.impactstory}}">ImpactStory (online impact)</a>
        </li>
    {% endif %}

    {% if this.scholar is defined %}
        <li class="list-group-item">
            <i class="ai ai-google-scholar fa-fw"></i>
            <a href="{{this.scholar}}">Google Scholar citations</a>
        </li>
    {% endif %}

    {% if this.lattes is defined %}
        <li class="list-group-item">
            <i class="fa fa-file-text fa-fw"></i>
            <a href="{{this.lattes}}">Currículo Lattes (Brazilian resume)</a>
        </li>
    {% endif %}

    {% if this.researchgate is defined %}
        <li class="list-group-item">
            <i class="ai ai-researchgate-square fa-fw"></i>
            <a href="{{this.researchgate}}">Research Gate profile</a>
        </li>
    {% endif %}

    {% if this.github is defined %}
        <li class="list-group-item">
            <i class="fa fa-github-square fa-fw"></i>
            Github: <a href="http://github.com/{{this.github}}">{{this.github}}</a>
        </li>
    {% endif %}

    {% if this.email is defined %}
        <li class="list-group-item">
            <i class="fa fa-envelope fa-fw"></i>
            e-mail: <a href="mailto:{{this.email}}">{{this.email}}</a>
        </li>
    {% endif %}

    {% if this.website is defined %}
        <li class="list-group-item">
            <i class="fa fa-external-link-square fa-fw"></i>
            <a href="{{this.website}}">{{this.website.split("//")[1]}}</a>
        </li>
    {% endif %}
{% endblock %}

{% block right %}

    {{ super() }}

    {% set pubs = [] %}
    {% for paper in site.reflinks["/papers"].content %}
        {% if this.components[-1] in paper.author.split(", ") %}
            {% if pubs.append(paper) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% if pubs %}
        <h2>Latest papers</h2>
        <ul class="fa-ul">
            {% for paper in pubs[:3] %}
                <li><i class="fa-li fa fa-file-text-o fa-fw"></i>
                    <a href="{{ paper.url }}">{{ paper.title }}</a>
                    ({{ paper.date.year }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if this.position in ["Researcher", "Professor"] %}
        {# Convert generators to lists so that they can used again and test if
           they are empty #}

        {% set students = site.reflinks["/people"].content|selectattr("advisor", "defined")|reverse|list %}
        {% set mine = students|selectattr("advisor", "equalto", this.title)|list %}

        {% set current = mine|rejectattr("former", "defined")|list %}
        {% if current %}
            {{ list_students(current, "Current students") }}
        {% endif %}

        {% set past = mine|selectattr("former", "defined")|list %}
        {% if past %}
            {{ list_students(past, "Former students") }}
        {% endif %}
    {% endif %}

{% endblock %}


{% macro list_students(students, title) %}
    <h2>{{ title }}</h2>
    <ul class="fa-ul">
        {% for student in students %}
        <li><i class="fa-li fa fa-user fa-fw"></i>
            <a href="{{ student.url }}">{{ student.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
