{% extends "page.html" %}

{% from "utils.html" import fa, ai, author_list %}

{% block content %}

{{ super() }}

{% for row in this.content|batch(2) %}
    <div class="row">
    {% for project in row %}
        <div class="col-md-6">
            <div class="well article-box">
                <a href="{{project.url}}">
                    <h3>
                        {{ project.title }}
                        {% if project.title2 is defined %}
                            (<i>{{ project.title2 }}</i>)
                        {% endif %}
                    </h3>
                </a>
                <p>
                    {{project.period}}
                    |
                    {{ author_list(project.author, site, link=True) }}
                    |
                    Institution: {{ project.institution }}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}

{% endblock %}
