{% extends "page.html" %}
{% from "utils.html" import fa, ai, author_list%}


{% block content_title %}

    <h1>
        {% if this.level is defined %}
            <em>{{ this.level }} thesis</em>:
        {% endif %}
        {{ this.title }}
    </h1>
    {% if this.author is defined %}
        <p class="pub-date-author">
            {% if this.date is defined %}
                ({{ this.date.year }})
            {% endif %}
            {{ author_list(this.author, site, link=True) }}
        </p>
    {% endif %}
    <hr>

{% endblock %}


{% block content %}

{% if this.inreview is defined and this.inreview %}
    <div class="alert alert-warning">
        <strong>
        This article is unpublished and is currently undergoing
        peer-review.
        </strong>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-4">

        <h2>Info</h2>

        <ul class="list-group">
            {% block left %}
                {% if this.oa is defined and this.oa %}
                    <li class="list-group-item active">
                        {{ ai("open-access", "fa-fw", "Open-access article") }}
                        Open-Access
                    </li>
                {% endif %}
                {% if this.journal is defined %}
                    <li class="list-group-item">
                        {{ fa("book", "fa-fw", "Journal name") }}
                        Journal: {{this.journal}}
                    </li>
                {% endif %}
                {% if this.period is defined %}
                    <li class="list-group-item">
                        <i class="fa fa-calendar fa-fw"></i> {{this.period}}
                    </li>
                {% endif %}
                {% if this.institution is defined %}
                    <li class="list-group-item">
                        <i class="fa fa-university fa-fw"></i> {{this.institution}}
                    </li>
                {% endif %}
                {% if this.location is defined %}
                    <li class="list-group-item">
                        <i class="fa fa-map-marker fa-fw"></i> {{this.location}}
                    </li>
                {% endif %}
                {% if this.advisor is defined %}
                    {% set advisor = site.reflinks["/people/" ~ this.advisor] %}
                    <li class="list-group-item">
                        <i class="fa fa-graduation-cap fa-fw"></i> Advisor:
                        <a href="{{ advisor.url }}">{{ advisor.title }}</a>
                    </li>
                {% endif %}
                {% if this.repository is defined %}
                    <li class="list-group-item">
                        {{ fa("github-square", "fa-fw", "Github repository") }}
                        Source code:
                        <a href="https://github.com/{{this.repository}}">{{
                            this.repository}}</a>
                    </li>
                {% endif %}
                {% if this.supplement is defined %}
                    <li class="list-group-item">
                        {{ fa("paperclip", "fa-fw", "Supplementary material") }}
                        Supplement:
                        <a href="http://dx.doi.org/{{this.supplement}}">{{this.supplement}}</a>
                    </li>
                {% endif %}
                {% if this.sucupira is defined %}
                    <li class="list-group-item">
                        {{ fa("info-circle", "fa-fw", "Additional information") }}
                        More info:
                        <a href="https://sucupira.capes.gov.br/sucupira/public/consultas/coleta/trabalhoConclusao/viewTrabalhoConclusao.jsf?popup=true&id_trabalho={{this.sucupira}}">Sucupira platform</a>
                    </li>
                {% endif %}
                {% if this.pdf is defined %}
                    <li class="list-group-item">
                        {{ fa("file-pdf-o", "fa-fw", "Paper PDF") }}
                        PDF:
                        <a href="/pdf/{{this.pdf}}">{{this.pdf}}</a>
                    </li>
                {% endif %}
                {% if this.doi is defined %}
                    <li class="list-group-item">
                        {{ fa("external-link", "fa-fw", "DOI link to publisher") }}
                        doi: <a href="http://dx.doi.org/{{this.doi}}">{{
                            this.doi}}</a>
                    </li>
                {% endif %}
            {% endblock %}
        </ul>

        {% if this.doi is defined %}
            <h2>Article Level Metrics</h2>
            <div data-badge-details="right" data-badge-type="medium-donut"
                 data-doi="{{this.doi}}" class="altmetric-embed"></div>
        {% endif %}

        {% if this.citation is defined %}
            <h2>Citation</h2>
            <p>{{this.citation}}</p>
        {% endif %}


        {% if this.related_papers is defined or this.related_thesis is defined %}
            <h2>Related research</h2>
            {% if this.related_papers is defined %}

                {% set papers = [] %}
                {% for paper in site.reflinks["/papers"].content %}
                    {% if paper.components[-1] in this.related_papers.split(',') %}
                        {% if papers.append(paper) %}{% endif %}
                    {% endif %}
                {% endfor %}

                <h3>Papers</h3>

                <ul class="fa-ul">
                {% for article in papers %}
                    <li>
                        <i class="fa-li fa fa-file-text-o fa-fw"></i>
                        <a href="{{ article.url }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
                </ul>

            {% endif %}

            {% if this.related_thesis is defined %}

                {% set theses = [] %}
                {% for thesis in site.reflinks["/thesis"].content %}
                    {% if thesis.components[-1] in this.related_thesis.split(',') %}
                        {% if theses.append(thesis) %}{% endif %}
                    {% endif %}
                {% endfor %}

                <h3>Theses</h3>

                <ul class="fa-ul">
                {% for article in theses %}
                    <li>
                        <i class="fa-li fa fa-book fa-fw"></i>
                        <a href="{{ article.url }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
                </ul>

            {% endif %}
        {% endif %}

    </div>


    <div class="col-md-8">
        {% block right %}
            {{ this.body }}
        {% endblock %}
    </div>
</div>

{% endblock %}
